<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&amp;subset=latin-ext" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    body{font-family:'Ubuntu', sans-serif;font-size:15px;font-weight:300;padding-top:60px}
    h1, h2, h3, h4, h5, h6, strong{font-weight:400}
    #info{
      -webkit-box-shadow: 0px 0px 50px 0px rgb(230,230,230);
      -moz-box-shadow: 0px 0px 50px 0px rgb(230,230,230);
      box-shadow: 0px 0px 50px 0px rgb(230,230,230)
    }
  </style>
  <title>Weather Application</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122843162-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-122843162-1');
  </script>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-xs-push-1 col-xs-10 col-sm-push-3 col-sm-6 col-md-push-4 col-md-4">
        <div id="info" class="panel panel-default">
            <div class="panel-body">
              <div class="text-center">
                <h3>Weather Application</h3>
                <p><i class="fa fa-cog fa-spin"></i> Loading...</p>
              </div>
            </div> <!-- /panel-body -->
        </div> <!-- /panel -->
        <p><a href="https://github.com/ersinkurtdal/weather" target="_blank" title="Fork me on Github" class="pull-right"><i class="fa fa-github"></i></a></p>
      </div> <!-- /col-xs -->
    </div> <!-- /row -->
  </div> <!-- /container -->

  <script id="template" type="text/x-handlebars-template">
      <div class="text-center">
        <h3>Your Ip Address</h3>
        <h4>\{{query}}</h4>
        <div id="weather"><p><i class="fa fa-cog fa-spin"></i> Loading...</p></div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fa fa-map-marker" title="Address"></i> \{{zip}} / \{{city}} / \{{country}} / \{{countryCode}}</span> <br>
          <i class="fa fa-location-arrow" title="Latitude & Longitude"></i>  \{{lat}}, \{{lon}} <br>
          <i class="fa fa-clock-o" title="Timezone"></i> \{{timezone}}
        </li>
      </ul>
      <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key={{googleApiKey}}&q=\{{lat}},\{{lon}}&zoom=12" allowfullscreen></iframe>
  </script>

  <script id="weatherTemplate" type="text/x-handlebars-template">
    <h3>Weather Condition</h34>
    <h4><i class="fa fa-thermometer-half"></i> \{{temparature}}&deg;F</h4>
    <h4>Feels like: \{{apparentTemparature}}&deg;F</h4>
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <script>
    (function($){

      'use strict';

      $(document).ready(function(){

        var $template = $('#template'),
            $info = $('#info'),
            $weatherTemplate = $('#weatherTemplate');

        $.ajax({
          url: '/location',
          type: 'GET',
          dataType: 'json',
          success: (location) => {

            if(location.status === 'fail' || location.error)
              return $info.find('.panel-body').append('Application cannot find your location.');

            $info.html(Handlebars.compile($template.html())(location));

            $.ajax({
              url: '/weather',
              type: 'POST',
              data: {lat: location.lat, lon: location.lon},
              dataType: 'json',
              success: (weather) => {
                if(weather.error) return $info.find('#weather').html('Application cannot find your weather condition.<br> Please try again later.');
                $info.find('#weather').html(Handlebars.compile($weatherTemplate.html())(weather));
              },
              error: (msg) => console.log(msg)
            })
          },
          error: (msg) => console.log(msg)
        })

      });

    })(jQuery);
  </script>
</body>
</html>
